<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    @*
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href="~/css/bulma.css" />
    <link href="~/css/hero.css" rel="stylesheet" />
    <link href="~/css/showcase.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />


</head>

<body onload="Initialize()">
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/Index">
                        <img src="/images/xtenders.png" alt="Xtenders International Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/Index">
                            Home
                        </a>
                        <a class="navbar-item" href="/Catalogue">
                            Catalogue
                        </a>
                        <a class="navbar-item" href="/GetAQuote">
                            Get A Quote
                        </a>
                        <a class="navbar-item" href="/About">
                            About Us
                        </a>
                        <a class="navbar-item" href="/Contact">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div style="min-height:85vh">
        @RenderBody()
    </div>

    <footer style="margin-top:10px;max-height:15vh;">
        <div class="box">
            <div class="columns">
                <div class="column is-4 has-text-centered has-vertically-aligned-content">
                    <p class="title has-text-info">&copy; 2016 - @DateTime.Now.Year</p>
                </div>
                <div class="column is-4 has-text-centered">
                
                </div>
                <div class="column is-4 has-text-centered has-vertically-aligned-content">
                    <div class="social-media">
                        <a href="https://facebook.com" target="_blank" class="button is-large is-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://instagram.com" target="_blank" class="button is-grey is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://twitter.com" target="_blank" class="button is-info is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </footer>

    <script src="~/js/bulma.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>