@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<a class="btn btn-block btn-lg btn-outline-dark mt-3 " href="/Admin/HomeData/Details">Manage HomePage Data</a>
<a class="btn btn-block btn-lg btn-outline-primary mt-3" href="/Admin/Products/Index">Manage Products</a>
<a class="btn btn-block btn-lg btn-outline-info mt-3" href="/Admin/Quotations/Index">Show Quotations</a>





