@page
@model CatalogueModel
@{
    ViewData["Title"] = "Product Catalogue";
    Layout = "~/Pages/Shared/_BulmaLayout.cshtml";
}


<a class="btn btn-block btn-lg btn-outline-dark mt-3 " href="/Roles/Index">Manage Roles</a>
<a class="btn btn-block btn-lg btn-outline-success mt-3 " href="/Employees/Index">Manage Employees</a>
<a class="btn btn-block btn-lg btn-outline-info mt-3" href="/Shifts/Index">Manage Shifts</a>
<a class="btn btn-block btn-lg btn-outline-primary mt-3" href="/AdminUserShiftsReport">Shifts Report</a>
<a class="btn btn-block btn-lg btn-outline-secondary mt-3" href="/EmployeeWorkReport">Employees Work Report</a>




