@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
Layout = "~/Pages/Shared/_BulmaLayout.cshtml";

}
<div class="main-content">
    <!-- Begin About Me Section -->
    <div class="section-light about-me" id="about-me">
        <div class="container box">
            <div class="column is-12 has-background-link box about-me">
                <h1 style="font-family:'Kaushan Script';" class="title has-text-white has-text-centered section-title">Reach out to US!</h1>
            </div>
            <div class="columns is-multiline">
                <div class="column has-text-centered is-8" style="padding:20px;">
                   
                   <p class="is-size-4 has-text-link">@Model.AboutUs.ContactUsText</p>
						<div class="social-media">
							<a href="https://facebook.com" target="_blank" class="button is-shady is-large is-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-shady is-grey is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://twitter.com" target="_blank" class="button is-shady is-info is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
                    <br />
                    <div class="is-divider"></div>
                    
                </div>
                <div class="column">
                	<div class="box has-text-centered ">
						<div class="field">
							<label class="label">Name</label>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<label class="label">Message</label>
							<div class="control">
								<textarea class="textarea is-medium"></textarea>
							</div>
						</div>
						<div class="control">
							<button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>
						</div>
					</div>    
                </div>
            </div>
        </div>
       
    
    </div>
   
</div>
