@page
@model XtendersProject.GetAQuoteModel
@{
    ViewData["Title"] = "Get A Quote";
    Layout = "~/Pages/Shared/_BulmaLayout.cshtml";
}
<style>
    .card{
        height:100%;
    }
</style>
<section class="container" style="margin-top:20px;">
    <div class="row columns is-multiline">
        @foreach (var p in Model.Products)
        {
            <div class="column is-one-third ">
                <div class="card round large is-shady">
                    <div class="card-image ">
                        <figure class="image">
                            <img src=@p.PicUrl alt="@p.Name">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="title has-text-link">@p.Name</div>
                        <div class="content">
                            @p.Description
                        </div>
                        <a class="button is-outlined is-link is-12" href="/Quotation/@p.ID">Get A Quote</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
