@page
@model ReceivedModel
@{
    ViewData["Title"] = "Contact Us";
Layout = "~/Pages/Shared/_BulmaLayout.cshtml";

}
    <div class="box column is-4 is-offset-4 has-text-centered" style="margin-top:20px;padding:20PX;">
        <p class="has-text-success title is-bold is-clearfix">THANK YOU!</p>
        <i style="font-size:250px;" class="fa fa-check-square-o has-text-link"></i>
        <p class="title has-text-link">You Quotation has been received! Our sales team will contact you shortly. </p>
    </div>
